body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trafficlight-box {
  padding: 20px;
  background-color: #444;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.trafficlight {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.trafficlight--off {
  opacity: 0.3;
}

.trafficlight--on {
  box-shadow: 1px 1px 10px rgba(204, 204, 204, 0.5),
    -1px -1px 10px rgba(204, 204, 204, 0.5);
}

.trafficlight__red {
  background-color: red;
}

.trafficlight__yellow {
  background-color: yellow;
}

.trafficlight__green {
  background-color: green;
}
